<ng-map   map-type-control="true" map-type-control-options="{position:'TOP_CENTER'}" default-style="false" zoom="14" center="45.618600, 9.207690" >
<marker position="current" animation="Animation.BOUNCE" title="Tua posizione" icon="{url:'images/man.png'}"></marker>
  <div ng-repeat="cat in pois" ng-if="cat.Visible===true">
<div ng-repeat="c in cat.Categories">
  <marker ng-repeat="p in c.Locations"
    position="{{p.Latitude}},{{p.Longitude}}" title="{{p.Address}}"  id="POI_{{$index}}"  on-click="leftOpen(event,p,c)"
    icon="{
      url:'images/{{c.Icon}}'
    }"

    >
  </marker>
</div>
</div>
<custom-control id="title" position="TOP_LEFT" index="1">
<div style="padding: 10px;">
<h3><b>Città di Desio</b></h3>
<p>Punti di interesse</p>
<div ng-repeat="d in pois"  style="padding: 5px;background-color: white;">
<label >
<input
type="checkbox"
name="DS_{{$index}}"
ng-model="d.Visible"
>{{d.Dataset}}
</label>
</div>
</div>
</custom-control>
<custom-control id="by" position="BOTTOM_LEFT" index="1">
  <div style="padding: 10px;"></div>
</custom-control>
<custom-control id="by" position="TOP_RIGHT" index="1">
<div ng-repeat="cat in pois" ng-if="cat.Visible===true">
  <div ng-repeat="c in cat.Categories" style="padding: 5px;background-color: white;"><img ng-src="images/{{c.Icon}}" style="width:16px;height:16px">{{c.Category}}</div>
</div>
</custom-control>
</ng-map>

<div data-panels="true"></div>
